:root {
  --primary: #9d0708;
  --secondary: #e6bfbf;
  --accent: #ef6025;
  --background: #ffffff;
  --light: rgb(241, 241, 241);
  --positive: rgb(24, 133, 24);
}

* {
  font-family: Poppins, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bi {
  pointer-events: none;
}

button {
  all: unset;
  cursor: pointer;
}

input {
  font: inherit;
  color: inherit;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
}

.header {
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: var(--primary);
  height: 100px;
  display: flex;
  align-items: center;
  width: 90%;
  border-radius: 15px;
}

.brand {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo {
  object-fit: contain;
  width: 65px;
  margin-right: 0.5rem;
}

.site-name {
  line-height: 1;
  color: white;
}

.school {
  font-size: 20px;
  margin-bottom: 0;
}

.office {
  font-size: 28px;
}

.header-user {
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
  width: 250px;
  height: 70px;
  background-color: white;
  border-radius: 10px;
}

.display-photo {
  height: 50px;
  object-fit: fill;
  border-radius: 50%;
}

.user-account {
  flex: 1;
  line-height: 1.2;
  text-align: right;
  margin-right: 0.75rem;
}

.user-account .username {
  color: var(--primary);
  font-weight: 500;
  font-size: 18px;
}

.user-account .logout {
  font-weight: 700;
  color: var(--accent);
}

.user-account .logout:hover {
  text-decoration: underline;
}

.header-icon {
  display: grid;
  font-size: 20px;
  place-items: center;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.12s ease-in;
}

.header-icon:hover {
  color: var(--primary);
}

.container {
  width: 90%;
  margin-top: 1rem;
  height: 100%;
  display: flex;
}

ul {
  list-style: none;
}

.sidebar {
  width: 330px;
  background-color: var(--primary);
  height: fit-content;
  border-radius: 15px;
  padding: 1.2rem 1.2rem 10rem;
  position: relative;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.sidebar > ul > li {
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
}

.nav-menu {
  display: none;
  width: 100%;
  margin-left: auto;
  position: relative;
  overflow: hidden;
}

.nav-menu.active {
  display: block;
}

.nav-menu li a {
  display: grid;
  place-items: center;
  text-align: center;
  line-height: 1;
  padding: 0.5rem;
  font-size: 16px;
  margin-top: 0.5rem;
  place-items: center;
  background-color: var(--secondary);
  color: var(--primary);
  width: 100%;
  border-radius: 5px;
}

.sidebar .nav-link,
.sidebar .nav-menu-btn {
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;
  line-height: 1;
  color: var(--primary);
  background-color: var(--secondary);
  height: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  transition: all 0.12s ease-in;
  z-index: 5;
}

.sidebar .nav-menu-btn .bi {
  position: absolute;
  right: 1rem;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.sidebar .nav-menu-btn .bi.active {
  transform: rotate(180deg);
}

.sidebar .nav-link:hover,
.sidebar .nav-menu-btn:hover,
.sidebar .nav-menu-btn.active,
.sidebar .nav-link.active,
.nav-menu li a:hover {
  background-color: white;
}

.sidebar h5 {
  color: white;
  margin-bottom: 0.75rem;
}

.sidebar .logo {
  position: absolute;
  margin: 0;
  height: 120px;
  width: 120px;
  object-fit: contain;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

main {
  background-color: var(--secondary);
  border-radius: 15px;
  height: auto;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
}

.container-centered {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login-card {
  background-color: var(--primary);
  border-radius: 15px;
  height: 600px;
  width: 500px;
  padding: 3rem 2rem;
}

.login-card .site-name .school {
  font-size: 32px;
  font-weight: 700;
}

.login-card .site-name .office {
  font-size: 36px;
  font-weight: 400;
}

.login-card .logo {
  height: 80px;
}

.login-card h1 {
  color: white;
  font-weight: 500;
  font-size: 48px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.input-control {
  font-size: 18px;
  width: 100%;
  color: black;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  background-color: white;
  margin-bottom: 1rem;
}

.login-card .input-control {
  font-size: 20px;
}

.btn-wide {
  width: 100%;
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 20px;
  padding: 0.5rem;
  cursor: pointer;
}

.login-card .btn-wide {
  margin-top: 3rem;
}

.btn-wide:hover {
  background-color: white;
}

.program-fees {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 1rem;
}

.card {
  background-color: var(--background);
  border-radius: 10px;
  height: fit-content;
}

.card-header {
  padding: 1rem;
  border-bottom: 2px solid var(--light);
}

.card-body {
  height: fit-content;
  padding: 1rem;
}

.input-with-icon {
  position: relative;
}

.input-with-icon .bi {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 1rem;
  color: gray;
  font-size: 18px;
}

.input-control.search {
  background-color: var(--light);
  font-size: 18px;
  padding: 0.75rem 1rem 0.75rem 3rem;
  margin: 0;
}

.card-list {
  height: 750px;
  overflow: scroll;
}

.card-list li a {
  display: block;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  padding: 1rem;
}

.card-list li .active {
  background-color: var(--primary);
  color: white;
  font-weight: 500;
}

.card-list li a:not(.active):hover {
  color: var(--primary);
}

.card-list li {
  border-bottom: 2px solid var(--light);
}

.program-label {
  padding: 1rem 2rem;
}

.program-label p {
  color: var(--primary);
  font-size: 16px;
  font-weight: 700;
}

.program-label h2 {
  font-weight: 400;
}

.fee-list {
  width: 100%;
  max-width: 1000px;
}

.fee {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-bottom: 1rem;
}

.fee label {
  font-size: 16px;
  margin: auto 2rem;
  font-weight: 500;
}

.input-control.gray {
  background-color: var(--light);
}

.input-with-currency {
  position: relative;
}

.input-with-currency .input-control {
  font-size: 16px;
  padding-left: 4rem;
  margin-bottom: 0;
}

.input-with-currency .currency {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 1rem;
  font-size: 16px;
  color: gray;
}

.edit-btn-group {
  display: flex;
  justify-content: end;
  margin: 2rem 1rem;
  gap: 1rem;
}

.btn,
.btn-outline {
  font-size: 16px;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

.btn {
  background-color: var(--primary);
  color: white;
}

.btn.positive {
  background-color: var(--positive);
}

.btn:hover {
  filter: brightness(120%);
}

.btn-outline {
  border: 2px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
}

.btn-outline:hover {
  color: var(--primary);
}

.btn-outline.gray {
  border: 2px solid gray;
  color: gray;
}

.btn-outline.gray:hover {
  color: white;
  background-color: gray;
}

#cancel-fee-btn,
#save-fee-btn {
  display: none;
}
