:root {
  --primary: #9d0708;
  --secondary: #e6bfbf;
  --accent: #ef6025;
  --background: #ffffff;
}

* {
  font-family: Poppins, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bi {
  pointer-events: none;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
}

.header {
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: var(--primary);
  height: 100px;
  display: flex;
  align-items: center;
  width: 90%;
  border-radius: 15px;
}

.brand {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo {
  object-fit: contain;
  width: 65px;
  margin-right: 0.5rem;
}

.site-name {
  line-height: 1;
  color: white;
}

.school {
  font-size: 20px;
  margin-bottom: 0;
}

.office {
  font-size: 28px;
}

.header-user {
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
  width: 250px;
  height: 70px;
  background-color: white;
  border-radius: 10px;
}

.display-photo {
  height: 50px;
  object-fit: fill;
  border-radius: 50%;
}

.user-account {
  flex: 1;
  line-height: 1.2;
  text-align: right;
  margin-right: 0.75rem;
}

.user-account .username {
  color: var(--primary);
  font-weight: 500;
  font-size: 18px;
}

.user-account .logout {
  font-weight: 700;
  color: var(--accent);
}

.user-account .logout:hover {
  text-decoration: underline;
}

.header-icon {
  display: grid;
  font-size: 20px;
  place-items: center;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.12s ease-in;
}

.header-icon:hover {
  color: var(--primary);
}

.container {
  width: 90%;
  margin-top: 1rem;
  height: 100%;
  display: flex;
}

ul {
  list-style: none;
}

.sidebar {
  width: 330px;
  background-color: var(--primary);
  height: auto;
  border-radius: 15px;
  padding: 1.2rem 1.2rem 10rem;
  position: relative;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.sidebar > ul > li {
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
}

.nav-menu {
  display: none;
  width: 80%;
  margin-left: auto;
  position: relative;
  overflow: hidden;
}

.nav-menu.active {
  display: block;
}

.nav-menu li a {
  display: grid;
  font-size: 16px;
  margin-top: 0.5rem;
  place-items: center;
  background-color: var(--secondary);
  color: var(--primary);
  width: 100%;
  border-radius: 5px;
}

.sidebar .nav-link,
.sidebar .nav-menu-btn {
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;
  line-height: 1;
  color: var(--primary);
  background-color: var(--secondary);
  height: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  transition: all 0.12s ease-in;
  z-index: 5;
}

.sidebar .nav-menu-btn .bi {
  position: absolute;
  right: 1rem;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.sidebar .nav-menu-btn .bi.active {
  transform: rotate(180deg);
}

.sidebar .nav-link:hover,
.sidebar .nav-menu-btn:hover,
.sidebar .nav-menu-btn.active,
.sidebar .nav-link.active,
.nav-menu li a:hover {
  background-color: white;
}

.sidebar h5 {
  color: white;
  margin-bottom: 0.75rem;
}

.sidebar .logo {
  position: absolute;
  margin: 0;
  height: 120px;
  width: 120px;
  object-fit: contain;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.main {
  background-color: var(--secondary);
  border-radius: 15px;
  height: auto;
  width: 100%;
  margin-bottom: 1rem;
}
